body{
    background-color: wheat;
}
.DGVC{
    text-align: center;;
}
h1{
    color:lightblue;
    background-color: rgb(89, 139, 89);
}
.SKILLS{
    color:orangered;
h5{
    color: black;
}
    
}
.PRO{
    color: blueviolet;
    background-color: wheat;
}
.ED{
    color: brown;
    background-color:orange;
}
